.card {
    background-color: rgb(238, 238, 241) !important;
    height: 30%;
    
    
}
.card-title {
    text-align: center;
    padding-bottom: 20px !important;
    
}
.feature-lead {
    line-height: 35px !important;
    letter-spacing: 0.5px;
}